extends layout
block content
    .navbar.navbar-fixed-top.navbar-inverse
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')
                    | Contestnco
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='about') About
                    li
                        a(href='contact') Contact
    .jumbotron.text-center
        h1 Contestnco
        p.lead  You can create a gallery and add photo !
        p.btn.btn-lg.btn-success(role='button', href="#modalImage", data-toggle="modal") Add photo to the gallery
    h2.text-center.text-primary Images of {{gallery.name}}
    div(ng-controller='DisplayImagesByGallery')
        .container.marketing
            .row.text-center
                .col-lg-4(ng-repeat="image in images")
                    img.img-circle.set-mini-size(src="http://localhost:8080/upload/images/{{ images._id }}")
                    h2 {{images.name}}
                    p {{images.description}}



    #modalImage.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button(type="button", class="close", data-dismiss="modal") x
                    h3.text-center.text-success Add photo
                .modal-body
                    form(action='http://localhost:8080/image/create',method='post', enctype='multipart/form-data')
                        p.text-center
                            input.form-control(id='name', name='img_name',type='text',placeholder='Name')
                        p.text-center
                            input.form-control(id='author', name='img_author',type='text',placeholder='Author')
                        p.text-center
                            textarea.form-control(id='description', name='img_description',type='text',placeholder='Description')
                        p.text-center
                            select.form-control(id='galleryId', name='img_gallery', ng-controller='IndexTypeCtrl')
                                option(ng-repeat="gallery in galleries", value="{{gallery._id}}") {{gallery.name}}
                        p.text-center
                            input.form-control(id='image', name='image_img',type='file',placeholder='Your photo')
                        .modal-footer
                            button.btn.btn-default(type="button" data-dismiss="modal") Close
                            button.btn.btn-primary(type="submit") Save