doctype html
html(ng-app='Contestnco')
  head
    title Contestnco
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='stylesheet', href='/stylesheets/sass/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/controllers.js')
    script(src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='/javascripts/bootstrap.min.js')
    body(ng-controller='IndexTypeCtrl')
    block content


    footer
        hr
        .footer
        .container
            p.text-muted
                @Contestnco 2014 - BsDeveloppement - Exercice