doctype html
html(ng-app='next-update-stats')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js')
  body
    block content