
	<section>
		<div class="jumbotron text-center">
			<h1>Contestnco</h1>
			<p class="lead">You can create a gallery and add photo !</p>
			<p role="button" href="#modalImage" data-toggle="modal" class="btn btn-lg btn-success">Add photo</p>
			<p class="inline-block">or</p>
			<p role="button" href="#modalGallery" data-toggle="modal" class="btn btn-lg btn-primary">Add gallery</p>
		</div>
		<h2 class="text-center text-primary">All gallery</h2>
		<div ng-controller="IndexTypeCtrl">
			<div class="container marketing">
				<div class="row text-center">
					<div ng-repeat="gallery in galleries" class="col-lg-4">
						<img src="http://localhost:8080/upload/galleriePhoto/{{ gallery._id }}" class="img-circle set-mini-size">
						<h2>{{gallery.name}}</h2>
						<p>{{gallery.description}}</p>
						<a href="gallery/{{gallery._id}}" role="button" class="btn btn-default marginBottomTen">Show</a>
					</div>
				</div>
			</div>
		</div>
		<div id="modalImage" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" class="close">x</button>
						<h3 class="text-center text-success">Add photo</h3>
					</div>
					<div class="modal-body">
						<form action="http://localhost:8080/image/create" method="post" enctype="multipart/form-data">
							<p class="text-center">
								<input id="name" name="img_name" type="text" placeholder="Name" class="form-control"></p>
							<p class="text-center">
								<input id="author" name="img_author" type="text" placeholder="Author" class="form-control"></p>
							<p class="text-center">
								<textarea id="description" name="img_description" type="text" placeholder="Description" class="form-control"></textarea>
							</p>
							<p class="text-center">
								<select id="galleryId" name="img_gallery" ng-controller="IndexTypeCtrl" class="form-control">
									<option ng-repeat="gallery in galleries" value="{{gallery._id}}">{{gallery.name}}</option>
								</select>
							</p>
							<p class="text-center">
								<input id="image" name="image_img" type="file" placeholder="Your photo" class="form-control"></p>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="modalGallery" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" class="close">x</button>
						<h3 class="text-center text-primary">Add gallery</h3>
					</div>
					<div class="modal-body">
						<form ng-submit="createGallery();">
							<p class="text-center">
								<input id="name" name="gallery_name" type="text" placeholder="Name" ng-model="gallery_name" class="form-control"></p>
							<p class="text-center">
								<input id="author" name="gallery_host" type="text" placeholder="Host" ng-model="gallery_host" class="form-control"></p>
							<p class="text-center">
								<textarea id="description" name="gallery_description" type="text" placeholder="Description" ng-model="gallery_description" class="form-control"></textarea>
							</p>
							<p class="text-center">
								<input id="image" type="file" placeholder="An image" file-input="file" class="form-control"></p>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>